body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    background: white;
}

/* Home */

.nav {
    font-size: 15px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 1% 0;
    padding-left: 7%;
    text-decoration: none;
    font-size: 30px;
    margin-left: 3%;

}



.nav1 {
    opacity: 70%;
    font-size: 15px;
    text-decoration: none;
    color: black;
    padding: 1% 0;
    padding-left: 7%;
    background-color: white;
}

.top-picks {
    padding: 5px 10px;
    color: white;
    background-color: rgb(35, 35, 116);
}

/*----------------------------- Section Content----------------------- */


.field {
    text-align: center;
    color: wheat;
    text-decoration: none;
    background: transparent;
    border: 1px initial whitesmoke;
    font-size: 20px;
    border-radius: 7px;
    width: 500px;
    height: 50px;
}

#result {
    font-size: 15px;
}

.result1 {
    text-decoration: none;
    color: rgb(168, 168, 168);
    transition: 1s;
}

.result1:hover {
    font-size: 13px;
    color: white;
    transition: 1s;
}

/* -------------------------------Option--------------------------------- */

.optionss {
    color: rgb(184, 185, 187);
    opacity: 0.9;
    background: transparent;
    font-size: 20px;
    text-align: center;
    padding: 5px;
    border: 1px solid rgb(135, 135, 135);
    border-radius: 5px;
    transition: 1s;
}

.optionss:hover {
    opacity: 1;
    color: rgb(234, 231, 231);
    border: 1px dashed white;
    transition: 1s;
}

/* ----------------------------------Timeline------------------------------ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: white;
}

h2 {
    color: white;
    font-size: 30px;
    padding-bottom: 15px;
}

.title {
    text-align: center;
    font-size: 30px;
    margin-top: 8%;
    margin-bottom: 5%;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
}

.container {
    align-items: center;
    text-align: center;
    padding: 10px 50px;
    position: relative;
    width: 50%;
    animation: movedown 1s linear forwards;
    opacity: 0;
}

.finish {
    color: white;
    text-align: center;
    align-items: center;
    background-color: rgb(35, 35, 116);
    padding: 30px 0;
    margin: 15px 37%;
    border-radius: 20px;
}

@keyframes movedown {
    0% {
        opacity: 1;
        transform: translateY(-30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.container:nth-child(1) {
    animation-delay: 0s;
}

.container:nth-child(2) {
    animation-delay: 1.5s;
}

.container:nth-child(3) {
    animation-delay: 2.5s;
}

.container:nth-child(4) {
    animation-delay: 3.6s;
}

.container:nth-child(5) {
    animation-delay: 4.6s;
}

.text-box {
    padding: 20px 30px;
    background: rgb(35, 35, 116);
    position: relative;
    border-radius: 20px;
    font-size: 15px;
}

.left-container {
    left: 2%;
}

.right-container {
    left: 48%;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: black;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 6s linear forwards;
}

@keyframes moveline {
    0% {
        height: 0;
    }

    100% {
        height: 100%;
    }
}

.text-box h2 {
    font-weight: 600;
}

.text-box small {
    display: inline-block;
    margin-bottom: 15px;
}

.left-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 35px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid rgb(35, 35, 116);
    right: -15px;
}

.right-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 35px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid rgb(35, 35, 116);
    left: -15px;
}

.bottom-button {
    color: white;
    opacity: 0.7;
    background: transparent;
    border: none;
    font-size: 25px;
    padding-bottom: 10px;
    transition: 1s;
}

.bottom-button:hover {
    opacity: 1;
    transition: 1s;
}

.text-btm {
    padding: 20px 0;
    text-align: center;
    font-size: 20px;
}

/* ==============================NEW===================== */


@media screen and (max-width: 600px) {
    body{
        margin-right: 5%;
    }

    .timeline {
        margin: 50px auto;
    }

    .timeline::after {
        left: 31px;
    }

    .container {
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }

    .text-box {
        font-size: 13px;
    }

    .text-box small {
        margin-bottom: 10px;
    }

    .right-container {
        left: 0;
        margin-left: 8px;
    }
    h2{
        font-size: 20px;
    }
    .optionss{
        font-size: 13px;
    }
    .left-container-arrow,
    .right-container-arrow {
        border-right: 15px solid rgb(35, 35, 116);
        border-left: 0;
        left: -20px;
    }

    .nav1 {
        font-size: 20px;
        text-align: center;
        text-decoration: rgb(35, 35, 116) underline;
    }
    .nav{
        margin-left: 0;
    }
    .title {
        font-size: 20px;
        margin-top: 20%;
        margin-left: -30%;
    }

    .finish {
        padding: 10px 50px;
        margin: 15px 0;
        
        margin-left: 3.5%;
        margin-right: 7%;
        border-radius: 20px;
    }
    .text-btm{
        font-size: 15px;
    }
}